
* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none
}

ul {
    width: 300px;
    background: pink;
    margin: 50px auto;
}

ul > li {
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

ul > li > ol {
    background: paleturquoise;
    display: none;
}

ul > li > ol > li {
    line-height: 50px;
}